@model Student
@{
    ViewData["Title"] = "Edit student";
}

<h1>Edit student</h1>

<form method="post" action="/Student/SaveEditStudent/@Model.Id">
    <h3>Update student</h3>

    <div class="form-group">
        <input type="text" name="Name" id="Name" value="@Model?.Name" class="form-control" placeholder="Name">
    </div>
    <div class="form-group">
        <input type="email" name="Email" id="Email" value="@Model?.Email" class="form-control" placeholder="E-mail">
    </div>
    <div class="form-group">
        <input type="password" name="Password" id="Password" value="@Model?.Password" class="form-control" placeholder="Password">
    </div>

    <div class="form-group">
        <input type="text" name="Phone" id="Phone" value="@Model?.Phone" class="form-control" placeholder="Phone">
    </div>
    <div class="form-group">
        <input type="number" name="ClassLevel" id="ClassLevel" value="@Model?.ClassLevel" class="form-control" placeholder="ClassLevel">
    </div>
    <div class="">
        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-primary">
        </div>
    </div>
</form>
